.SummaryContainner {
  width: 100%;
  height: "auto";
  background-color: white;
}
.multi-header-employee-summary {
  display: flex;
  color: rgba(88, 80, 130);
  /* background-color: lavender; */
  gap: 20px;
  justify-content: flex-start;
  padding: 5px;
}

.multi-header-employee-summary p:first-child {
  background-color: rgba(235, 247, 255);
  padding: 6px 0px 6px 0px;
  padding-left: 12px;
  padding-right: 23px;
  border-radius: 0px 20px 20px 0px;
  font-weight: 600;
}

.multi-header-employee-summary p:nth-child(2) {
  background-color: rgba(235, 247, 255);
  padding: 6px 0px 6px 0px;
  padding-left: 12px;
  padding-right: 23px;
  border-radius: 0px 20px 20px 0px;
  font-weight: 600;
}

.multi-header-employee-summary p:nth-child(3) {
  background-color: rgba(88, 80, 130, 1);
  color: white;
  padding: 6px 0px 6px 0px;
  padding-left: 12px;
  padding-right: 23px;
  border-radius: 0px 20px 20px 0px;
  font-weight: 600;
}

th {
  text-align: left;
  background-color: #f0eef471;
  color: #1a1b1f;
  font-weight: 500;
  border-bottom: 1px solid #e4e4e4;
  padding: 8px;
  /* border: 1px solid black;
    font-size: 16px;
    width: 10%;
    min-width: 10%; */
}
td {
  border-bottom: 1px solid #ddd;
  /* border: 1px solid black;
    width: 10%;
    min-width: 10%; */
  background-color: #fdfbff;
}

.summary-table-data {
  width: 100%;
  border-spacing: 0;
}
.summary-table-data thead tr {
  background-color: #fdfbff;
}

.summary-table-data td {
  font-size: 14px;
  text-align: left;
  padding: 5px;
}

.SummaryButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}
.StartButton {
  /* background-color: #007bff; */
  border: 2px solid rgb(88 80 130);
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  color: rgb(88 80 130);
  font-weight: 500;
}
.BackButton {
  border: 2px solid rgb(88 80 130);
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  color: rgb(88 80 130);
  font-weight: 500;
}
.ButtonAllContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.AddSummaryButton {
  background-color: rgb(88 80 130);
  color: white;
  border-radius: 5px;
  padding: 7px 20px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}
