.DetailsContainerEmployee{
    background-color: white;
    width: 100%;
    height: auto;
    padding: 15px;
}
.work-personal-container{
    display: flex;
    justify-content: space-between;
    height: auto; 
    padding-top: 15px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: auto;

}


.work-left-personal-container{
   width: 100%;
    display: block; 
    height: auto; 
    background-color: white;
}

.header-personal-work-left{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 8px;
    padding-right: 15px;
}

.additional-work-left-container{
    padding: 9px;
}

.personal-work-right-container{
    width: 100%;
    display: block; 
    height: auto; 
}
.CompanyPatternDetails{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.employee-work-details-form-container{
    height: auto; 
    padding: 10px;
    background-color: white;
    overflow: hidden; 
    display: block; 
}

.employee-work-details-form{
    height: 100%;
    overflow-y: auto; 
    padding-right: 15px; 
    display: block; 
    padding: 9px;
}

.search-place-for-work{
    padding-left: 5px;
    margin-top: 25px;
}

.location-of-work{
    padding: 5px;
    margin-top: 25px;
}

.both-full-part-time-container {
    display: flex;
    justify-content: space-between;
    padding: 9px;
}
.radio-options{
    display: flex;
flex-wrap: wrap;
align-items: center;
}

.both-full-part-time-second-container{
    display: flex;
    justify-content: space-between;
    padding: 9px;
}

.left-radio-container,
.right-radio-container {
    width: 48%; 
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.second-left-radio-container,
.second-right-radio-container{
    width: 48%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.left-radio-container:focus-within,
.right-radio-container:focus-within {
    border-color: #1976d2; /* This is the border color when focused (you can adjust the color) */
}
.second-left-radio-container:focus-within,
.second-right-radio-container:focus-within {
    border-color: #1976d2; /* This is the border color when focused (you can adjust the color) */
}




.full-time-part-time-work {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
}


.multi-header-employment-details{
    display: flex;
    color: rgba(88, 80, 130);
    background-color: lavender;
    gap: 20px;
    justify-content: flex-start;
    padding: 5px;
}

.multi-header-employment-details p:first-child{
    background-color: rgba(235, 247, 255);
    padding: 6px 0px 6px 0px;
    padding-left: 12px;
    padding-right: 23px;
    border-radius: 0px 20px 20px 0px;
    font-weight: 600;
}

.multi-header-employment-details p:nth-child(3) {
  background-color: rgba(235, 247, 255);
  padding: 6px 0px 6px 0px;
  padding-left: 12px;
  padding-right: 23px;
  border-radius: 0px 20px 20px 0px;
  font-weight: 600;
}

.multi-header-employment-details p:nth-child(2){
    background-color: rgba(88, 80, 130, 1);
    color: white;
    padding: 6px 0px 6px 0px;
    padding-left: 12px;
    padding-right: 23px;
    border-radius: 0px 20px 20px 0px;
    font-weight: 600;
}