.Expenses-table-container {
  width: auto;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px 15px 15px 15px;
}
.Expenses-tablebody {
  margin-top: 12px;
}
.view-file-button {
  font-size: 14px;
  cursor: pointer;
}
.view-file-button:hover {
  color: #0056b3;
}
th {
  text-align: left;
  background-color: #f0eef471;
  color: #1a1b1f;
  font-weight: 500;
  border-bottom: 1px solid #e4e4e4;
  /* border: 1px solid black;
  font-size: 16px;
  width: 10%;
  min-width: 10%; */
}
td {
  border-bottom: 1px solid #ddd;
  /* border: 1px solid black;
  width: 10%;
  min-width: 10%; */
  background-color: #fdfbff;
}

.Expenses-table-data {
  width: 100%;
  border-spacing: 0;
}
.Expenses-table-data thead tr {
  background-color: #fdfbff;
}

.Expenses-table-data td {
  font-size: 14px;
  text-align: left;
  padding: 5px;
}
.Expenses-table-data td button {
  font-size: 20px;
}
.Expenses-Action-DataButon {
  /* display: flex; */
  align-items: center;
  gap: 10px;
}

.Expenses-edit-button {
  color: lightblue;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  outline: none;
}
.Expenses-Text-delete {
  color: lightsalmon;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  outline: none;
}
.Expenses-edit-button:hover {
  background-color: #dae1f3;
  color: lightblue;
  transform: scale(1.01);
}
.Expenses-Text-delete:hover {
  background-color: #dae1f3;
  color: lightsalmon;
  transform: scale(1.01);
}

.Expenses-download-button-table-data {
  display: flex;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  align-items: center;
}
.Expenses-download-button-table-data:hover {
  background-color: #dae1f3;
}
.Expenses-pagination-table-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fdfbff;
  padding: 12px 1px;
}
.Expenses-DeletebtnView {
  width: auto;
  height: 20px;
  cursor: pointer;
  align-items: center;
}
.Expenses-row-checkbox {
  padding: 0;
  cursor: pointer;
}

.expensesstatus-approved {
  color: #28a745; 
  background-color: #eafaf1; 
  border: 1px solid #28a745; 
  padding: 5px 10px; 
  border-radius: 5px;
  text-align: center; 
  font-weight: 600; 
}

.expensesstatus-rejected {
  color: #dc3545; 
  background-color: #fdecea; 
  border: 1px solid #dc3545;
  padding: 5px 10px; 
  border-radius: 5px; 
  text-align: center; 
  font-weight: 600; 
}

.expensesstatus-pending {
  color: #ffc107; 
  background-color: #fff8e5; 
  border: 1px solid #ffc107; 
  padding: 5px 10px; 
  border-radius: 5px; 
  text-align: center; 
  font-weight: 600; 
}
.ExpensesFilePngicon{
  width: 20px;
  height: 20px;
}
.expenses-file-button{
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .Expenses-table-data thead {
    display: none;
  }

  .Expenses-table-data tr,
  .Expenses-table-data td {
    display: block;
    width: 100%;
    text-align: center;
  }
  .Expenses-table-data tbody tr td {
    position: relative;
    text-align: right;
    padding-right: 10px;
    padding: 10px;
    height: 70px;
    height: 50px;
  }

  .Expenses-table-data td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 12px;
    text-align: left;
    font-weight: bold;
    align-items: center;
    display: flex;
  }
  .Expenses-table-data td::before {
    display: flex;
    text-align: center;
  }
}



/* Mobile view adjustments */
@media (max-width: 768px) {
  .status-approved,
  .status-pending,
  .status-rejected {
    width: fit-content !important; /* Make the width full */
    height: auto; /* Let the height adjust automatically */
    padding: 3px; /* Add some padding for better appearance */
    margin-top: 2px; /* Adjust margin */
  }
}
