.table-container {
  width: auto;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px 15px 15px 15px;
}
.tablebody {
  margin-top: 12px;
}
th {
  text-align: left;
  background-color: #f0eef471;
  color: #1a1b1f;
  /* font-weight: 500; */
  border-bottom: 1px solid #e4e4e4;
  height: 45px;
}
td {
  border-bottom: 1px solid #ddd;
  height: 45px;
  background-color: #fdfbff;
  font-size: 14px;
}

.table-data {
  width: 100%;
  border-spacing: 0;
}
.table-data thead tr {
  background-color: #fdfbff;
}

.table-data td {
  font-size: 14px;
  text-align: left;
  padding: 5px;
}
.table-data td button {
  font-size: 20px;
}
.Action-DataButon {
  /* display: flex; */
  align-items: center;
  gap: 10px;
}
.edit-button {
  color: lightblue;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  outline: none;
}
.Text-delete {
  color: lightsalmon;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  outline: none;
}
.edit-button:hover {
  background-color: #dae1f3;
  color: lightblue;
  transform: scale(1.01);
}
.Text-delete:hover {
  background-color: #dae1f3;
  color: lightsalmon;
  transform: scale(1.01);
}

.download-button-table-data {
  display: flex;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  align-items: center;
}
.download-button-table-data:hover {
  background-color: #dae1f3;
}
.pagination-table-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fdfbff;
  padding: 12px 1px;
}
.DeletebtnView {
  width: auto;
  height: 20px;
  cursor: pointer;
  align-items: center;
}
.row-checkbox {
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .table-data thead {
    display: none;
  }

  .table-data tr,
  .table-data td {
    display: block;
    width: 100%;
    text-align: center;
  }
  .table-data tbody tr td {
    position: relative;
    text-align: right;
    padding-right: 10px;
    padding: 10px;
    height: 70px;
    /* width: 300px; */
  }

  .table-data td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 12px;
    text-align: left;
    font-weight: bold;
    align-items: center;
    display: flex;
  }
  .table-data td::before {
    display: flex;
    text-align: center;
  }
}

@media (max-width: 458px) {
  .table-data tbody tr td {
    width: 322px;
  }
}
