/* Common styles for status badges */

.status-approved {
    color: #28a745; 
    background-color: #eafaf1; 
    border: 1px solid #28a745; 
    padding: 5px 10px; 
    border-radius: 5px;
    text-align: center; 
    font-weight: 600; 
    width: 100px;
    cursor: pointer;
  }
  
  .status-rejected {
    color: #dc3545; 
    background-color: #fdecea; 
    border: 1px solid #dc3545;
    padding: 5px 10px; 
    border-radius: 5px; 
    text-align: center; 
    font-weight: 600; 
    width: 100px;
    cursor: pointer;


  }
  
  .status-pending {
    color: #ffc107; 
    background-color: #fff8e5; 
    border: 1px solid #ffc107; 
    padding: 5px 10px; 
    border-radius: 5px; 
    text-align: center; 
    font-weight: 600; 
    width: 100px;
    cursor: pointer;


  }
  