.SuperAdmin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    background-color: rgb(248, 249, 251);;
    width: auto;
    /* z-index: 1; */
    position: relative;
  }
  
  .header-left {
    font-size: 20px;
    gap: 35px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .header-left img {
    width: auto;
    height: 22px;
    margin: 0 auto;
  }
  .header-left .IconHembar {
    display: none;
  }
  .MeetingRecoardIcon{
    width: 40px;
    cursor: pointer;
  }
  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 0;
  }
  .teams{
   font-weight: 600;
  }
  .icon-container {
    margin-left: 15px;
    cursor: pointer;
  }
  
  .super-name-container {
    display: flex;
    align-items: center;
    gap: 2px;
    border-radius: 18px;
    position: relative;
    height: 38px;
  }
  
  .name-container h4 {
    font-weight: 600;
  }
  
  .name-container:hover {
    cursor: pointer;
  }
  
  .headerprofile {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .hembarIcon {
    display: none;
  }
  
  .headerprofile:hover {
    opacity: 0.7;
  }
  
  .popup {
    position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  width: 200px;
  height: 200px;
  /* z-index: 1000; */
  }
  
  .popup ul {
    list-style: none;
    margin: 0;
  }
  .header-left .logomedia {
    display: none;
  }
  
  .popup-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    padding: 10px;
  }
  
  .popup-link svg {
    margin-right: 10px;
  }
  
  @media only screen and (max-width: 700px) {
    .name-container h4 {
      font-weight: 600;
      display: none;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .header-left .hembarIcon {
      display: none;
    }
    .header-left img {
      display: none;
    }
    .header-left .IconHembar {
      display: block;
    }
    .header-left .logomedia {
      display: none;
    }
  }
  