.admin-add-employee {
  font-family: Arial, sans-serif;
}

.emp-content-container {
  background-color: #f5f6f8;
  padding: 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  
}



.emp-teams-section {
  margin-top: 20px;
}

.AddEmployeeHeadingText {
  font-size: 24px;
  color: #333;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;

}

.emp-team-profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.emp-team-profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.emp-team-card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s;
  width: 300px;
  display: flex;
  flex-direction: row;
}

.emp-team-card:hover {
  transform: translateY(-5px);
}

.profile-image-container {
  background: rgb(102, 116, 169);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.profile-initials {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.emp-team-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emp-team-info h3 {
  margin: 0;
  font-size: 18px;
}

.emp-role {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}

.emp-view-profile-link {
  color: #007bff;
  text-decoration: none;
}

.visibility-icon {
  color: #007bff;
  cursor: pointer;
}

.emp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.emp-modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  position: relative;
}

.emp-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #494074;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
}

.emp-modal-body {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.emp-modal-close-icon {
  cursor: pointer;
}
