 .timeoff-calendar-container {
  width: 100%;
  background-color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}


.maindiv {
  display: flex;
  padding: 0px 20px 20px 20px;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.timeoff-month-grid {
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
  width: 80%;
  background-color: white;
  /* padding: 10px; */

  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.timeoff-month-grid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* max-width: 300px;
  width: 20%; */
  background-color: white;

}

.RightSidebarTimeoff {
  width: auto;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px; /* Add some padding for better spacing */
  border-radius: 10px; /* Optional: Rounded corners for a smoother look */
  overflow-y: auto; /* Ensure scrolling for overflow content */
}

.timeoffAddbutton{
  width: 50px;
}
.Bookleavebutton{
  cursor: pointer;
}
.timeoff-month-container {
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: auto;
  height: auto;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

.timeoff-month-container h2 {
  padding: 10px 10px 0px 10px ;
  margin: 0;
  text-align: left;
  font-weight: bolder;
}
.timeoff-days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
}
.timeoff-day-name.Sat,
.timeoff-day-name.Sun {
  background-color: #add8e66b;
  
}

.timeoff-day-name {
  text-align: center;
  color: gray;
}

.timeoff-day {
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}


.timeoff-day.today {
  padding-top: 10px;
  background-color: #69b3ccb0;
  font-weight: bold;
  color: #004085;
  cursor: pointer;
}

.timeoff-day.empty {
  visibility: hidden;
}



.timeoff-day.sunday,
.timeoff-day.saturday {
  background-color: #add8e66b !important;
  font-weight: bold;
}

.timeoff-day.past,
.timeoff-day.future {
  font-weight: bold;
  color: gray;
  padding: 10px;
}

.timeoff-day.leave .timeoff-umbrella-icon {
  font-size: 1.5em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.timeoff-day.leave .timeoff-day-number {
  visibility: hidden;
}

.timeoff-day.leave .timeoff-umbrella-icon {
  font-size: 1.2em;
}

.timeoff-day.leave:hover .timeoff-umbrella-icon {
  display: none;
}

.timeoff-day.leave:hover .timeoff-day-number {
  visibility: visible;
}
.timeoff-day.saturday .timeoff-day-number,
.timeoff-day.sunday .timeoff-day-number {
  visibility: visible;
}


.timeoff-total-work {
  position: absolute;
  top: 190px;
  right: 85px;
  font-size: 21px;
  font-weight: 400;
  color: #000;
}

@media (max-width: 768px) {
  .maindiv {
    flex-direction: column;
    align-items: center;
    padding:20px;
  }

  .timeoff-month-grid,
  .timeoffbutton {
    width: 100%;
    justify-content: center;
    
  }
  .timeoff-month-container{
    width: 100%;
    padding: 0px;
  }
  .select-year{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .timeoff-year-selector{
    display: flex;
    justify-content: center;
  }

  .button-container{
    display: flex;
    width: -webkit-fill-available;
    padding-top: 20px;
  }
}


@media (max-width: 1000px) {
  .maindiv {
    flex-direction: column;
    align-items: center;
    padding:20px;
    height: auto;
  }
  .timeoff-month-container{
    width: 100%;
    padding: 0px;
  }
  .select-year{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .timeoff-year-selector{
    display: flex;
    justify-content: center;
  }

  .button-container{
    display: flex;
    width: -webkit-fill-available;
    padding-top: 20px;
  }
}
